<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TikTovenaar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TikTovenaar.Properties.Settings>
            <setting name="backgroundMusicVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="soundEffectVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="lastSelectedBackgroundMusic" serializeAs="String">
                <value />
            </setting>
        </TikTovenaar.Properties.Settings>
    </userSettings>
</configuration>